<!DOCTYPE html>
<html>
<head>
  <title>Meet The Expert</title>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</head>

<body class="body">
  <div class="table_body mt-5 mx-auto" style="width: 1200px;">
    <table class="table table-bordered">
      <thead class="table-info">
        <tr>
          <th scope="col" style="width: 10%">Sun</th>
          <th scope="col" style="width: 10%">Mon</th>
          <th scope="col" style="width: 10%">Tue</th>
          <th scope="col" style="width: 10%">Wed</th>
          <th scope="col" style="width: 10%">Thu</th>
          <th scope="col" style="width: 10%">Fri</th>
          <th scope="col" style="width: 10%">Sat</th>                        
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="inner_cell">1</div>
            <div class="inner_cell">1</div>
            <div class="inner_cell">1</div>
            <div class="inner_cell">1</div>
            <div class="inner_cell">1</div>
            <div class="inner_cell">1</div>
          </th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>                      
        </tr>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>                      
        </tr>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>                      
        </tr>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>                      
        </tr>                  
      </tbody>
    </table>
  </div>

  <!-- popup -->
  <div class="popup-overlay">
    <div class="popup-content">
      <form class="field" action="/" method="POST">
        <input type="text" name="sa" class="text-field field_second" placeholder="SA Assigned">
        <input type="text" name="sales" class="text-field field_second" placeholder="TM/AM Assigned"><br>
        <input type="text" name="account" class="text-field" placeholder="Account Name"><br>
        <input type="time" name="start_time" class="text-field field_second" placeholder="starting time">
        <input type="time" name="end_time" class="text-field field_second" placeholder="end time"><br>
        <input type="text" name="room" class="text-field" placeholder="Meeting Room"><br>
      </form>
      <button class="submit_button">Save</button>
      <button class="close_button">Close</button>
    </div>  
  </div>  
  <!-- popup -->

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">    
  </script>
  <script src="script/script.js"></script>

</body>
</html>