<!DOCTYPE html>
<html>
<head>
  <title>Meet The Expert</title>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</head>

<body class="body">
  <div class="table_body mt-5 mx-auto" style="width: 1200px;">
    <table class="table table-bordered">
      <thead class="table-info">
        <tr>
          <th scope="col" style="width: 10%">Sun</th>
          <th scope="col" style="width: 10%">Mon</th>
          <th scope="col" style="width: 10%">Tue</th>
          <th scope="col" style="width: 10%">Wed</th>
          <th scope="col" style="width: 10%">Thu</th>
          <th scope="col" style="width: 10%">Fri</th>
          <th scope="col" style="width: 10%">Sat</th>                        
        </tr>
      </thead>
      <tbody>
        <% let tbl_row = 0 %>
        <% while (tbl_row < 5) { %>
        <tr>
          <% let tbl_column = 0 %>
          <% while (tbl_column < 7) { %>
          <th scope="row">
            <% let cell = 0 %>
            <% while (cell < 6) { %>
              <% console.log(cell) %>
              <div class="inner_cell" value=<%= cell %>>
                <% for (let schedule of schedules) { %>
                  <% console.log(cell) %>
                  <% if (schedule.cellId == cell) { %>
                    <%= schedule.sales %><%= ' / ' %><%= schedule.account %>
                    <% break %>
                  <% } %>
                <% } %>  
              </div>
              <% cell++ %>
            <% } %>
          </th>
          <% tbl_column++ %>
          <% } %>                             
        </tr>
        <% tbl_row++ %>  
        <% } %>      
      </tbody>
    </table>
  </div>

  <!-- popup -->
  <div class="popup-overlay">
    <div class="popup-content">
      <form class="field" action="/add_schedule" method="POST">
        <input type="text" name="sa" class="text-field field_second" placeholder="SA Assigned">
        <input type="text" name="sales" class="text-field field_second" placeholder="TM/AM Assigned"><br>
        <input type="text" name="account" class="text-field" placeholder="Account Name"><br>
        <input type="time" name="start_time" class="text-field field_second" placeholder="starting time">
        <input type="time" name="end_time" class="text-field field_second" placeholder="end time"><br>
        <input type="text" name="room" class="text-field" placeholder="Meeting Room"><br>
        <button class="submit_button" type="submit">Save</button>
      </form>
      <button class="close_button">Close</button>
    </div>  
  </div>  
  <!-- popup -->

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">    
  </script>
  <script src="script/script.js"></script>

</body>
</html>